nav {
  background-image: linear-gradient(
    to right top,
    #7362e9,
    #008aff,
    #00a9ff,
    #00c4ff,
    #00dbfb,
    #15e1f2,
    #35e6e8,
    #51ebdc,
    #44e2d3,
    #35dac9,
    #23d1c0,
    #00c9b7
  );
}
img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
