img {
  width: 50px;
}
.cross {
  color: red;
  font-size: 30px;
}
.check {
  color: green;
  font-size: 30px;
}
.uncompleted {
  background-color: #ff999a;
}
.completed {
  background-color: #c2e2bc;
}
