.completed {
  background-image: url("/public/any.webp");
  background-size: 200px 100px;
  background-position: center; // Centra l'immagine di sfondo
  background-repeat: repeat;
  background-position: top left;
}
